[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
psycopg2 = "*"
firebase-admin = "*"
bs4 = "*"
lxml = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.7"
